{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

    <section id="{% block section_id %}{% endblock %}" class="">
        <div class="login-container">
            <div class="container">
                <div class="row">
	                <h3>Welcome to RISE Survey Reporting</h3>

                  {% if not user.is_authenticated %}
                    <p>To get going, you're going to need to login or <a href="/accounts/signup/">create an account</a></p>
                    {% else %}
                    <p>To get started, checkout your <a href="{% url 'survey-list' %}">surveys</a>, or <a href="{% url 'survey-upload' %}">create a new survey</a> and start reporting!</p>
                    {% endif %}
                    <hr/>
                   <p>The Maine Center for Research in STEM Education
(RiSE Center) provides an integrated approach to University-based research and professional development in science and mathematics education. The Center is a joint effort of the College of Liberal Arts and Sciences, College of Education and Human Development and College of Natural Sciences, Forestry and Agriculture.  The activities of the Center bring together faculty from the science and mathematics disciplines with faculty from education.  With this combination of resources, the Center is reevaluating and reforming introductory level science and mathematics  courses, establishing new practices for K-12 science teacher preparation, and building infrastructure with teachers, schools, and administrators through out the state.</p>

<p>Activities undertaken by the Center are targeted to create attractive, content-rich teacher preparation and continuing education options for mathematics and science teachers. The Center is working to develop well-qualified science and mathematics teachers for grades K-12 and to spearhead the development of coherent, developmentally appropriate curricula for mathematics and science.</p>

<p><a href="http://umaine.edu/center/">Learn more about RISE</a></p>
      	</div>
      </div>
    </div>

{% endblock %}
