{% extends "surveys/base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}

{% block head_title %}{% trans "Response to" %}{{object.meditation}}{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function(){
    $('#surveyTable').DataTable();
});
</script>
{% endblock %}

{% block content %}
<div class="login-panel col-lg-12 col-lg-offset-0">
    <h1>{{object}}</h1>
    
    {% if report %}
        <h3>Report</h3>
        {{response_ids}}

    {% else %}
    <div class="box">
        <h3>Results</h3>
        <p>Entries: {{response_ids|length}}</p>
        {% if pre_task == "PENDING" or post_task == "PENDING" %}<p>Still loading entries. Please refresh the page in a few minutes.</p>{% endif %}
        <a href="{% url 'survey-report' object.slug %}" class="btn btn-info">View Report</a>

    </div>
    <br />
    <div class="box">
      <a href="" class="btn btn-success">Download CSV</a>
    </div>
    {% endif %}
</div>

{% endblock %}


