{% extends "surveys/base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Add a Survey" %}{% endblock %}

{% block content %}
<div class="login-panel col-lg-12 col-lg-offset-0">
    <h1>{% trans "Add a Survey" %}</h1>
    
    <div class="box">
        {{form.non_field_errors}}
        <form action="{% url 'survey-upload' %}" method="post" enctype="multipart/form-data" style="color:white;">{% csrf_token %}
          {{form|bootstrap}}
          <p><input class="btn btn-success" type="submit" value="Save" />
        </form>
    </div>
    </div>
</div>

{% endblock %}


