{% extends "surveys/base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}

{% block head_title %}{% trans "Response to" %}{{object.meditation}}{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function(){
    $('#surveyTable').DataTable();
});
</script>
{% endblock %}

{% block content %}
<div class="login-panel col-lg-12 col-lg-offset-0">
    <h1>{{object}}</h1>

    {{object.questions}}
    {% if report %}
        <h3>Report</h3>
        <table id="surveyTable">
            <thead><th>Question</th><th>Answer</th></thead>
            {% for question, answer in results %}
            <tr><td>{{question}}</td><td>{{answer}}</td></tr>
            {% endfor %}
        </table>
        {% comment %}
        Available to use are the following variables:
        results = {'Q1': "70%", 'Q2': '65%'}
        common_correct'] = ['Q1', 'Q8']
        context['common_wrong'] = ['Q2']
        context['report'] = True
        {% endcomment %}

    {% else %}
    <div class="box">
        <h3>Results</h3>
        <p>Entries: {{response_ids|length}}&nbsp;&nbsp;&nbsp;{% if pre_task == "PENDING" or post_task == "PENDING" %}<img src="{% static 'img/spinner.gif' %}" />Still loading entries. Please refresh the page in a few minutes.</p>{% endif %}
    </div>
    <div class="box">
        <a onclick="javascript:$('#questions').slideToggle()" class="btn btn-info">Questions</a>&nbsp;<a onclick="javascript:$('#answers').slideToggle()" class="btn btn-info">Answer Key</a>&nbsp;<a href="{% url 'survey-report' object.slug %}" class="btn btn-info">View Report</a>&nbsp;<a href="" class="btn btn-success">Download CSV</a>
    </div>

    {% if object.questions %}
    <div class="box" id="questions" style="display:none;">
          {% for q in object.questions %}
          <p>{{q}}</p>
          {% endfor %}
    </div>
    {% endif %}

    {% if object.answers %}
    <div class="box" id="answers" style="display:none;">
          {% for q in object.answers%}
          <p>{{q}}</p>
          {% endfor %}
    </div>
    {% endif %}

    {% endif %}
</div>

{% endblock %}
