{% extends "base.html" %}
{% block menu %}
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                    <li>
                    <a class="page-scroll" href="{% url 'homepage' %}">Dashboard</a>
                    </li>
                    <li>
                    <li><form id="logout" action="{% url 'account_logout' %}" method="post">{% csrf_token %}</form><a href="#" onclick="javscript:$('#logout').submit()"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                    </li>
                    {% else %}
                    <li>
                    <a class="page-scroll" href="{% url 'account_signup' %}">Sign up</a>
                    </li>
                    <li>
                    <a class="page-scroll" href="{% url 'account_login' %}">Log in</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
{% endblock %}

{% block body %}
    <section id="{% block section_id %}{% endblock %}" class="">
        <div class="login-container">
            <div class="container">
            {% block content %}{% endblock %}
            </div>
        </div>
    </section>
{% endblock %}
